<section id="about" class="bg-base-200 py-12">
    <div class="container">
        <div class="space-y-4 text-center mb-12">
            <h2 class="text-3xl font-bold">À propos</h2>
            <div class="w-16 h-1 bg-primary rounded-full mx-auto"></div>
        </div>
        <div class="flex flex-col md:flex-row gap-8 items-center">
            <img
                src="/avatar.png"
                alt="Portrait professionnel du développeur"
                class="rounded-lg shadow-lg object-cover w-full md:flex-1 md:max-w-sm md:aspect-[3/4]"/>

            <div class="space-y-6 text-lg md:flex-1">
                <p>
                    Développeur web passionné basé en France, je suis spécialisé dans le frontend.
                    J’accorde une attention particulière à l’expérience utilisateur, à la propreté du code et à la
                    performance des interfaces.
                </p>

                <p>
                    Curieux et rigoureux, j’aime concevoir des applications fiables et évolutives.
                    Je travaille avec <strong>Angular</strong>, mais aussi avec <strong>TailwindCSS,
                    SCSS</strong> et les <strong>design systems</strong> pour construire des interfaces cohérentes et
                    maintenables.
                </p>

                <p class="font-medium">
                    Je suis actuellement disponible pour de nouvelles collaborations.
                    <br/>
                    <a href="#contact" class="btn btn-md btn-primary mt-4">Me contacter</a>
                </p>
            </div>
        </div>
    </div>
</section>