<section class="h-[100dvh] flex items-center justify-center pt-8 md:pt-0 relative">
    <div class="container flex flex-col items-center text-center gap-8">
    <span class="badge badge-outline badge-primary badge-sm lg:badge-md">
      Développeur Frontend
    </span>

        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold">
            <span class="block">👋 Bonjour, je suis</span>
            <span
                class="bg-gradient-to-r from-[#3B82F6] to-[#8B5CF6] bg-clip-text text-transparent mt-2 block">
        Sébastien
      </span>
        </h1>

        <p class="text-lg md:text-xl max-w-2xl">
            Passionné par Angular, je développe des interfaces rapides, solides et prêtes à évoluer avec votre projet.
        </p>

        <p class="text-lg md:text-xl font-medium">
            🚀 Let's build something beautiful.
        </p>

        <div class="flex flex-wrap gap-4 justify-center mt-4">
            <button class="btn btn-md btn-primary">
                <lucide-icon [img]="Mail" color="white"/>
                Me contacter
            </button>
            <button class="btn btn-md btn-outline">
                <lucide-icon [img]="FolderOpen"/>
                Voir mes projets
            </button>
        </div>

        <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 animate-bounce">
            <a href="#about" aria-label="Scroll to About section">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="M12 5v14"/>
                    <path d="m19 12-7 7-7-7"/>
                </svg>
            </a>
        </div>
    </div>
</section>
