<section id="stack" class="bg-base-100 py-12 mt-40">
    <div class="container">
        <div class="space-y-4 text-center">
            <h2 class="text-3xl font-bold text-base-content">Stack technique</h2>
            <div class="w-16 h-1 bg-primary rounded-full mx-auto"></div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-12">
            <app-skill-category title="Frontend" skills="Angular · React.js · Vue.js · TailwindCSS · SCSS · Daisyui"/>
            <app-skill-category title="Backend" skills="NestJS · Go · PostgreSQL · Supabase"/>
            <app-skill-category title="Outils" skills="Drizzle ORM · Docker · Git · Figma . NeonDb"/>
            <app-skill-category title="Méthodologie"
                                skills="Analyse des besoins · Optimisation UI/UX · Documentation claire · Tests manuels"/>
        </div>
    </div>
</section>